body {
    /* background-color: #f2f2f2; */
    padding: 15px;
}
.layui-form {
    width: 500px;
}

.layui-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layui-form {
    padding-top: 20px;
}
.layui-input-block {
    padding-right: 30px;
}